<%@ page language="java" contentType="text/html; charset=ISO-8859-1" pageEncoding="ISO-8859-1"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
<%@ page import="java.sql.*"%>
</head>
<body>
<%
    Class.forName("com.mysql.jdbc.Driver");
    Connection con = DriverManager.getConnection("jdbc:mysql://localhost:3306/fosterdb", "root", "1234");
    Statement st = con.createStatement();
    String query = "select * from proposed_adoptive";
    ResultSet rs = st.executeQuery(query);
%>
		<table class="table">
		<thead>
			<tr>
      <th><abbr title="k_id">Userid</abbr></th>
      <th><abbr title="name">SSN</abbr></th>
      <th><abbr title="age">Name</abbr></th>
      <th><abbr title="gender">Address</abbr></th>
      <th><abbr title="ethnicity">Contact_no</abbr></th>
    </tr>
  </thead>
		
	<tbody>
		<% while (rs.next()) 
  {   %>
						<tr>
							<td><%=rs.getString("userid")%></td>
							<td><%=rs.getString("ssn")%></td>
							<td><%=rs.getString("name")%></td>
							<td><%=rs.getString("address")%></td>
							<td><%=rs.getString("contact_number")%></td>
						</tr>
						<%   } %>
	</tbody>
	</table>
					
</body>
</html>